<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageTitle%></title>
    <link rel="stylesheet" href="/css/error.css"> <!-- Link to your CSS file -->
</head>
<body>

    <form action="/" method="get" class="error-form">
        <div class="error-message">
            <h1><%=errMsg%></h1>
        </div>
        <div class="submit-button">
            <button type="submit">OK</button>
        </div>
    </form>
    
</body>
</html>
