<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/index.css"> <!-- Assuming the additional CSS is saved as index.css -->
</head>
<body>
  <%- include('./includes/nav.ejs') %>
    <div class="welcome-container">
        <h1>Welcome to ChatNexus</h1>
        <div class="action-buttons">
            <form action="/joinRoom" method="get">
                <button type="submit" id="jnRmBt">Join Room</button>
            </form>
        </div>
    </div>
</body>
</html>
