body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
    color: white;
    padding: 0 1.5rem;
    z-index: 1; 
}

.main-header__nav {
    height: 100%;
    display: flex;
}

.main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-header__item {
    margin: 0 1rem;
    padding: 0;
}

.main-header__item a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
    color: #3bff7c;
}

.content {
    margin-left: 250px;
    padding: 16px;
    z-index: 2;
}

.submitBtn{
    text-align: center;
    position: absolute;
    top: 450px;
    left: 50%;
   
    
    
}


h2 {
    color: #333; /* Adjust the color as needed */
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
}






button {
    background-color: #4caf50; /* Adjusted background color (optional) */
    color: #333333; /* Darker text color for better contrast */
    padding: 15px 25px; /* Increased padding for more space */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Other styles... */

.dynamic-content {
     margin-left: 270px;

}

button:hover {
    background-color: #45a049;
}


.centered-buttons {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Align buttons horizontally */
    align-items: center; /* Align buttons vertically within the container */
    width: 100%; /* Ensure container takes full width */
    height: 100vh; /* Set container height to 100 viewport height */
    position: absolute; /* Make container position absolute */
    top: 0; /* Position container at top */
    left: 0; /* Position container at left */
  }
  
  /* Additional styling for buttons (optional) */
  .centered-buttons button {
    margin: 10px; /* Add some space between buttons */
  }
  